<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>github.purpltentacle.proxmoxcontrol</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>05181540-6941-4604-B0CA-C3430D5C0A95</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DA6F823-2447-4199-B15A-0AE796710862</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2DA6F823-2447-4199-B15A-0AE796710862</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>844C7C01-04FD-4093-858B-9B142EC5E8C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9360FD2F-C792-4B27-A203-DB010746A0B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DA6F823-2447-4199-B15A-0AE796710862</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0144335-0122-4B98-A6BB-279A4B9A16F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DA6F823-2447-4199-B15A-0AE796710862</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>purpltentacle</string>
	<key>description</key>
	<string>Starts and stops Proxmox machines</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Proxmox control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:WF_ACTION}</string>
				<key>title</key>
				<string>{var:WF_RESULT}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>844C7C01-04FD-4093-858B-9B142EC5E8C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=${PYTHON_PATH}:${PATH}
python qm_handler.py set "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2DA6F823-2447-4199-B15A-0AE796710862</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>pvn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait while fetching VM data ...</string>
				<key>script</key>
				<string>export PATH=${PYTHON_PATH}:${PATH}
python qm_handler.py machine {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Shows the running and stopped VMs</string>
				<key>title</key>
				<string>Starts and stops VMs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9360FD2F-C792-4B27-A203-DB010746A0B7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>pve</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait while fetching VM data ...</string>
				<key>script</key>
				<string>export PATH=${PYTHON_PATH}:${PATH}
python qm_handler.py status {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Shows the running and stopped VMs</string>
				<key>title</key>
				<string>Starts and stops VMs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A0144335-0122-4B98-A6BB-279A4B9A16F9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>pvt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait while fetching VM data ...</string>
				<key>script</key>
				<string>export PATH=${PYTHON_PATH}:${PATH}
python qm_handler.py type {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Filters for machine type (lxc, qemu)</string>
				<key>title</key>
				<string>Starts and stops VMs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>05181540-6941-4604-B0CA-C3430D5C0A95</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow starts and stops virtual machines or LXC-containers (referred to as machines in the following text) in Proxmox.

In order to do so, it must be possible to ssh into the Proxmox-server.

The workflow can be used to filter for

* the status of the machines (`pve`),
* the machine names (`pvn`), or
* the type of the machines (`pvt`).

The following environment variables in Alfred must be set:

PROXMOX_USER: the user name of the ssh-user
PROXMOX_HOST: the ip/hostname of Proxmox
SSH_PORT: the port where ssh is listening
PYTHON_PATH: the path(s) where python (2.7) can be found. Defaulted to Homebrew

Optional variables:

EXCLUDED_VMS: comma-separated list of all machine-ids which should not be displayed in the result-list, in order to prevent the user from accidentally shutting down machines. Example: 100,107,900

Proxmox Logo was taken from https://www.proxmox.com, https://www.proxmox.com/en/news/media-kit

This workflow uses the Alfred-workflow library from Dean Jackson, http://www.deanishe.net/alfred-workflow/</string>
	<key>uidata</key>
	<dict>
		<key>05181540-6941-4604-B0CA-C3430D5C0A95</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>2DA6F823-2447-4199-B15A-0AE796710862</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>844C7C01-04FD-4093-858B-9B142EC5E8C8</key>
		<dict>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>9360FD2F-C792-4B27-A203-DB010746A0B7</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>A0144335-0122-4B98-A6BB-279A4B9A16F9</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>EXCLUDED_VMS</key>
		<string>100,101,103,107,900,109</string>
		<key>PROXMOX_HOST</key>
		<string>192.168.11.254</string>
		<key>PROXMOX_USER</key>
		<string>root</string>
		<key>PYTHON_PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin</string>
		<key>SSH_PORT</key>
		<string>22</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>EXCLUDED_VMS</string>
		<string>PROXMOX_USER</string>
		<string>PROXMOX_HOST</string>
	</array>
	<key>version</key>
	<string>0.2.0</string>
	<key>webaddress</key>
	<string>https://github.com/purpltentacle/ProxmoxControl</string>
</dict>
</plist>
